/* Start The Custom Variables */
/* End of The Custom Variables */

/* Start the Global Rules */
* {
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}
/* End of the Global Rules */



.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    background: #eee;
}

/* Small Screens*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}